{% extends "orders/base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'orders/basket.js' %}"></script>

<!-- Plantilla del ítem 1 -->
{% verbatim %}
<script id="basketItem1" type="text/x-handlebars-template">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ item }}: {{ type }} - {{ category }} - {{ size }} -- Q{{ price }}</h5>
            <p class="card-text">Ingredientes: {{ toppings }}</p>
        </div>
    </div>
</script>
{% endverbatim %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Obtener referencia al checkbox "Pago en Línea"
        var onlinePaymentCheckbox = document.getElementById("onlinePayment");
    
        // Obtener referencia al div de campos de tarjeta de crédito
        var creditCardFields = document.getElementById("creditCardFields");
    
        // Manejar el cambio en la selección de "Pago en Línea"
        onlinePaymentCheckbox.addEventListener("change", function () {
            if (onlinePaymentCheckbox.checked) {
                creditCardFields.style.display = "block"; // Mostrar los campos de tarjeta de crédito
            } else {
                creditCardFields.style.display = "none"; // Ocultar los campos de tarjeta de crédito
            }
        });
    });
    </script>
    
   <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Obtener referencias a los checkboxes de pago
            var cashPaymentCheckbox = document.getElementById("cashPayment");
            var cardOnDeliveryCheckbox = document.getElementById("cardOnDelivery");
            var onlinePaymentCheckbox = document.getElementById("onlinePayment");
        
            // Manejar cambios en los checkboxes
            cashPaymentCheckbox.addEventListener("change", function () {
                console.log("Cash Payment checkbox changed");
                if (cashPaymentCheckbox.checked) {
                    // Si Pago en Efectivo se selecciona, deseleccionar los otros
                    cardOnDeliveryCheckbox.checked = false;
                    onlinePaymentCheckbox.checked = false;
                }
            });
        
            cardOnDeliveryCheckbox.addEventListener("change", function () {
                if (cardOnDeliveryCheckbox.checked) {
                    // Si Pago con Tarjeta contra Entrega se selecciona, deseleccionar los otros
                    cashPaymentCheckbox.checked = false;
                    onlinePaymentCheckbox.checked = false;
                }
            });
        
            onlinePaymentCheckbox.addEventListener("change", function () {
                if (onlinePaymentCheckbox.checked) {
                    // Si Pago en Línea se selecciona, deseleccionar los otros
                    cashPaymentCheckbox.checked = false;
                    cardOnDeliveryCheckbox.checked = false;
                }
            });
        });
        </script>

<script>
    $(document).ready(function () {
        // Obtener referencia al checkbox de "Pago en Efectivo"
        var cashPaymentCheckbox = $("#cashPayment");

        // Manejar el cambio en la selección de "Pago en Efectivo"
        cashPaymentCheckbox.change(function () {
            if ($(this).prop("checked")) {
                // Cuando Cash Payment está seleccionado
                $("input[name='cardNumber']").removeAttr("required");
                $("input[name='csv']").removeAttr("required");
                $("#month, #year").removeAttr("required");
            } else {
                // Cuando se desmarca Cash Payment
                $("input[name='cardNumber']").attr("required", true);
                $("input[name='csv']").attr("required", true);
                $("#month, #year").attr("required", true);
            }
        });

        // Obtener referencia al checkbox de "Pago en Efectivo"
        var cardOnDeliveryCheckbox = $("#cardOnDelivery");

        // Manejar el cambio en la selección de "Pago en Efectivo"
        cardOnDeliveryCheckbox.change(function () {
            if ($(this).prop("checked")) {
                // Cuando Cash Payment está seleccionado
                $("input[name='cardNumber']").removeAttr("required");
                $("input[name='csv']").removeAttr("required");
                $("#month, #year").removeAttr("required");
            } else {
                // Cuando se desmarca Cash Payment
                $("input[name='cardNumber']").attr("required", true);
                $("input[name='csv']").attr("required", true);
                $("#month, #year").attr("required", true);
            }
        });
    });
</script>    
{% endblock %}

{% block title %}
Mi Carrito
{% endblock %}

{% block main %}
<!-- si el ausuario aún no esta autenticado -->
<div class="alert alert-info">
    {% if not user.is_authenticated %}
        <p>¡Bienvenido a nuestro Carrito de Compra! Para realizar tu compra, por favor <a href="{% url 'orders:login' %}">inicia sesión</a> o <a href="{% url 'orders:register' %}">regístrate</a>.</p>
    {% endif %}
</div>

<h1>Mi Carrito</h1>

<div class="alert alert-success alert-dismissible fade show" role="alert" id="confirmation" hidden></div>

<form action="{% url 'orders:place' %}" method="post">
    {% csrf_token %}
    <div class="form-group" id="basketList">
        <!-- contenido de la plantilla handlebars aquí -->
    </div>
    <div class="form-group" id="total">
        <h3 class="text-right" style="color: #ffffff;">Subtotal: Q <span id="subtotal"></span></h3>
    </div>

    <div class="form-group">
        <!-- Botones para realizar la compra si es usuario autenticado -->
        {% if request.user.is_authenticated %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
            </div>
            <div class="form-group col-md-6">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@gmail.com" required>
            </div>
        </div>
        <div class="form-group">
            <label for="Address1">Direccion</label>
            <input type="text" class="form-control" id="address1" name="address1" placeholder="Barrio / Calle" required>
        </div>
        <div class="form-group">
            <label for="Address2">Referencias </label>
            <input type="text" class="form-control" id="address2" name="address2" placeholder="Casa color, frente a, etc... ">
        </div>
        <div class="form-group">
            <label for="phone">Número de Télefono</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="xxxxxxxx" required pattern="[0-9]{8}">
        </div>

        <button type="button" id="confirmOrder" class="btn btn-info" data-toggle="modal" data-target="#placeModal">
            <i class="fas fa-check"></i> Confirmar Compra & Pagar
        </button>
        
        <button type="button" class="btn btn-warning" id="deleteOrder">
            <i class="fas fa-trash-alt"></i> Eliminar todos los ítems
        </button>
        <!-- si el ausuario aún no esta autenticado -->
        {% else %}
        <button type="button" class="btn btn-warning" id="deleteOrder">
            <i class="fas fa-trash-alt"></i> Eliminar todos los ítems
        </button>
        {% endif %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="placeModal" tabindex="-1" role="dialog" aria-labelledby="placeModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="placeModalTitle">Elige forma de Pago:</h5>
                </div>
                <!-- formulario aquí -->
                <form action="{% url 'orders:place' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-check">
                            <input class="form-check-input payment-option" type="checkbox" id="cashPayment" name="cashPayment">
                            <label class="form-check-label" for="cashPayment" style="color: #040404;"> Pago en Efectivo</label>
                            
                        </div>
                        <div class="form-check">
                            <input class="form-check-input payment-option" type="checkbox" id="cardOnDelivery" name="cardOnDelivery">
                            <label class="form-check-label" for="cardOnDelivery" style="color: #040404;"> Pago con Tarjeta contra Entrega</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input payment-option" type="checkbox" id="onlinePayment" name="onlinePayment">
                            <label class="form-check-label" for="onlinePayment" style="color: #040404;"> Pago en Línea</label>
                        </div>
                        <br>
                        <div id="creditCardFields" style="display: none;">
                            <!-- Campos relacionados con el pago con tarjeta de crédito -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="cardNumber">Número de Tarjeta:</span>
                                </div>
                                <input type="text" class="form-control" aria-describedby="cardNumber" maxlength="16" name="cardNumber" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="expiry">Vencimiento:</label>
                                </div>
                                <select class="custom-select" id="month" name="month" required>
                                    <option selected>Mes...</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <select class="custom-select" id="year" name="year" required>
                                    <option selected>Año...</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="csv">CSV:</span>
                                </div>
                                <input type="text" class="form-control" aria-describedby="csv" maxlength="3" name="csv" required>  
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group">
                            <h5>Se le cobrará Q<span id="charge"></span></h5>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <i class="fab fa-cc-visa fa-3x"></i>
                        <i class="fab fa-cc-mastercard fa-3x"></i>
                        <i class="fab fa-cc-amex fa-3x"></i>
                        <button type="submit" class="btn btn-success" id="placeOrder">
                            <i class="fas fa-check"></i> Completar Transacción
                        </button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                    </div>
                    <!-- campo oculto que contiene los datos de la canasta para enviar al servidor -->
                    <input type="text" id="hiddenData" name="hiddenData" value="" hidden>
                    <input type="text" id="hiddenSub" name="hiddenSub" value="" hidden>
                    <!-- ----------Fin del campo oculto------------------ -->
                </form>
            </div>
        </div>
    </div>
</form>

{% endblock %}
