{% extends "orders/base.html" %} {% block main %} 
<div class="container-fluid" >
    <div class="content my-3 px-2">
        <div class="card shadow rounded-0" style="background-color: #58332b;">
            <div class="card-body" style="background-color: #58332b;">
                <div class="row justify-content-center contact-info" >
                    <h3 class="contact-title"><u>Datos de contacto</u></h3>
                </div>
                <div class="row justify-content-center contact-info">
                    <p class="contact-item">¡Esperamos recibirte pronto en nuestro restaurante! Si deseas asegurarte de tener una experiencia culinaria excepcional con nosotros, 
                        te recomendamos hacer una reservación. Estamos listos para atenderte y hacer que tu visita sea inolvidable.
                        Estaremos encantados de reservar una mesa para ti y tus seres queridos. ¡Esperamos verte pronto!
                    </p>
                </div>
                <div class="row justify-content-center contact-info">
                    <p class="contact-item">Nuestro teléfono: 4862-5918</p>
                </div>
                <div class="row justify-content-center contact-info">
                    <p class="contact-item">Correo electrónico: <a class="contact-link" href="mailto:fusionado@unicentergt.net">fusionado@unicentergt.net</a></p>
                </div>
                <div class="row justify-content-center contact-info">
                    <p class="contact-item">Encuéntrenos en Facebook: <a class="contact-link" href="https://www.facebook.com/casaenoya">@Casa E'noya</a></p>
                </div>

                <div class="footer-contact">
                    <img src=" " class="footer-image">
                </div>

                <div class="row justify-content-center">
                    <p>
    
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}