{% extends "orders/base.html" %} {% block main %}
<div class="container" style="background-color: #58332b;">
    <div class="content my-3">
        <div class="card rounded-0 shadow">
            <div class="card-body" style="background-color: #58332b;">
                <div class="row justify-content-center" style="margin-top:20px;">
                    <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=14.8023686,-89.3933598(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="600" height="450" frameborder="0" style="border:0;"
                        allowfullscreen=""></iframe>

                </div>
                <div class="row justify-content-center" style="margin-top:20px;">

                    <ul style="color: #ffffff;">
                        <li>Situado en carretera a Jocotán, Chiquimula.</li>
                        <li>Cuenta con Parqueo.</li>
                        <li><p>No sabes como llegar? <a href="https://fb.watch/nKjXNaCmrH/">haz click aquí</a>, te mostraremos el camino.</p></li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}