{% extends "orders/base.html" %}

{% block title %}
Iniciar Sesión
{% endblock %}

{% block main %}

{% if success %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ success }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class="login-form">
    <form action="{% url 'orders:login' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="un">Nombre de Usuario:</label>
            <input type="text" class="form-control" id="un" name="un" autofocus required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-success">Iniciar Sesión</button>
    </form>
</div>

{% endblock %}
